@font-face {
  font-family: "firstfont";
  src: url(../font/SpaceGrotesk-Regular.woff2); 
  font-style: normal;
}

@font-face {
  font-family: "firstfont";
  src: url(../font/SpaceGrotesk-Bold.woff2); 
  font-style: normal;
  font-weight: bold;
}


*{
  
    font-weight: medium;
    margin: 0;
    padding: 0;
  
}



p{
  font-family: "firstfont";
}



p.logo{
  font-family: Arial, Helvetica, sans-serif;
}

h1.logo{
  font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

a{
    color: black;
    
}

#filtro{
  font-family: "firstfont";
}

main h2{
  font-family: "firstfont";
}
div.testo, section.testo-progetto {
  line-height: 150%;

}

div.testo h2, section.testo-progetto h2{
  margin-bottom: 15px;
}


header a{
    text-decoration: none;
    color: black;
    
}

header a:hover{
    text-decoration: none;
    color: red;
}

/** logo **/
header h1{
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size:large ;
    font-family: Helvetica;
}

header nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 50px;
    font-family: "firstfont";
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    position: fixed;
    width: 100%;
}

main, footer {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

main{
  padding-top: 116px;
}

/** sezione progetti **/
div.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px auto;
    gap: 35px;
}

/** sezione designer **/
div.grid1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px auto;
    gap: 35px;
    max-width: 90%;
    height: auto;
    font-family: "firstfont";
}

section.designer h2{
    margin-left: 5%;
    margin-top: 50px;
    font-family: "firstfont";
}

/**  sezione studio **/
div.flex{
    display: flex;
    justify-content: space-between;
    font-family: "firstfont";
}

div.flex-designer{
  display: flex;
  justify-content: space-between;
  font-family: "firstfont";
}

.hero-designer{
  margin-top: 40px;
}

.testo{
    width: 60%;
    font-size: 25px;
    margin-bottom: 50px;
    line-height: 150%;
    margin-left: 20px;
    font-family: "firstfont";
}

.testo p{
 margin-bottom: 5%;
 font-family: "firstfont";
}

.testo-progetto p{
  margin-bottom: 5%;
  font-family: "firstfont";
}

.testo-progetto-about p{
  margin-bottom: 5%;
  font-family: "firstfont";
}

.testo-progetto-about{
  width: 80%;
  font-size: 25px;
  line-height: 150%;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "firstfont";
}

.testo-progetto-about h2{
  margin-bottom: 2%;
}

.testo-progetto{
    width: 80%;
    font-size: 25px;
    line-height: 150%;
    margin-left: 50px;
    margin-top: 100px;
    font-family: "firstfont";
}


section.progetto p{
    font-size: 20px;
    font-family: "firstfont";
}

/** CTA **/
.button-cta{
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    transition-duration: 0.4s;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cta-container{
    text-align: center;
    margin-bottom: 20px;
}
.foto,.card{
    background-color: #F0F0F0;
    padding: 20pt;

}

div.card p{
    font-family: "firstfont";
}

strong{
    font-family: "firstfont";
}

.card:hover,div.card:hover,.foto:hover{
  background-color: #827f7f;
  color: white;
  font-family: "firstfont";
}

.imgdesigner:hover{
  border: 1.2px solid black;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer nav ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: "firstfont";
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    text-decoration: none;
    color: red;
}

footer p{
    font-weight: bold;
}

/** titoli pagine **/
h2{
   margin-bottom: 10px;
   font-size: 39px;
}

/** titoli sezione studio **/
h4{
    font-size: 20px;
    margin-bottom: 10px;
}

/** testo studio **/
.studio{
    margin: 0 20px;
}
.flex .testo{
    margin: 0 20px;
    padding-top: 10%;
}

.immagine-studio{
    width: 30%;
    padding-left: 100px; 
}

.immagine-studio2{
    width: 40%;
    padding: 0 50px 100px 100px; 
    padding-top: 9%;
}

.progetto{
    width: 500px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
    margin: 70px 200px 70px 200px;
}

button.pulsante-filtro {
  padding: 10px 3px;
  margin-right: 40px;
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
   }
  
  button.pulsante-filtro:hover {
    color: red;
    box-shadow: none;
    }

.categorie{
    align-items: center;
    padding: 20px;
}

.img-designer{
    width: 80%;
    margin: 50px 0 0;
    padding-left: 100px;   
}

.grassetto:hover{
  font-weight: bold;
}

section.hero-designer{
    margin-bottom: 100px;
}

section.email{
    margin: 50px 0 50px 50px;
    line-height: 2;
}

/** hamburger **/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

a:hover {
    text-decoration: underline;
  }
  
  header h1 {
    font-size: 21px;
  }
  
  /* CSS del Menu */
  
  nav {
    margin:0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 20px;
    
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  nav ul ul {
    flex-direction: column;
    gap: 10px;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul a {
    color:black;
    text-decoration: none;
  }

  .nav-bold-studio,.nav-bold-designer,.nav-bold-project,.nav-bold-about{
    font-weight: bold;
    color: red;
  }

  nav:active {
    color: red;
  }
  
  /* CSS PER HAMBURGER MENU */
  
  .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 18px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    margin-right: 25px;
  }
  
  .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
  }
  
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  /* ANIMAZIONE HAMBURGER MENU */
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  /* BOTTONE CHE FA APPARIRE HAMBURGER MENU */
  
  .checkbox {
    position: absolute;
    display: block;
    height: 36px;
    width: 32px;
    top: 8px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .filtro {
    display: flex;
    margin-bottom: 32px;
    margin-top: 20px;
    justify-content: space-between;
    padding-bottom: 16px;
   

}

.filtro p {
    margin: 0;
    padding: 0;
}

.filtro ul {
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    gap: 16px;
}

.filtro ul a {
    text-decoration: none;
    color: black;
}


.nascosta {
    display: none;
  }

.mostra {
    display: block;
}

.filtro a.active {
    font-weight: bold;
}

.filtro ul a:hover{
    color: red;
  
}

  /* MOBILE */
  
  @media only screen and (max-width: 600px) {
    .checkbox {
      display: block;
    }

    input.checkbox{
      margin-right: 5%;
    }

    header {
      flex-direction: column;
      align-items: start;
    }
  
    nav {
      width: 100%;
    }
    
    header nav ul {
      flex-direction: column;
      opacity: 0;
      text-align: left;
      display: none;
      width: 100%;
      margin-top: 20px;
      gap: 10px;
    }


    nav ul a {
      display: block;
    }
  
    input[type="checkbox"]:checked ~ nav ul {
      opacity: 100;
      display: flex;
    }

    .logo{
      font-size: 18px;
    }
  
    .hamburger-lines {
      opacity: 100;
      padding-right: 3%;
    }

    section p{
      font-size: 14px;
      width: 100%;
      line-height: 1.5em;
    }

    div.testo p{
      font-size: 14px;
      width: 100%;
      line-height: 1.5em;
    
    }

    section.progetto p{
      max-width: fit-content;
      margin: 0 0 0 0;
    }

    .img-designer{
      display: none;
    }

    .immagine-studio{
        display: none;
    }  

    .immagine-studio2{
      display: none;
  }  

  .testo-progetto{
    width: 85%;
   
  }

  .progetto img{
    width: 100%;
  }

    div.flex{
      display: grid;
      grid-template-columns: 1fr; 
    }

    div.testo p{
      width: 40ch;
      
     
    }

    div.testo{
      width: 90%;
      line-height: 0.5em;
      
    }

    div.testo h2{
     margin-bottom: 10%;
    }

    div.flex-designer{
      max-width:fit-content;
      width: 40ch;
    }

    div p{
      display: inline;
      
    }

    img.img-designer{
    padding-left: 50px; 
    }

    section.progetto {
      margin: 0;
      padding: 50px;
      width: 100%;
      box-sizing: border-box;
    }

 footer  {
  font-size: 16px;
  display: block;
  justify-content: space-between;
 }

 footer .logo{
  padding-bottom: 20px;
 }

 .button-cta{
  margin: 20px;
 }

 .filtro{
  font-size: 13px;
 }

 .testo-progetto-about{
  width: 75%;
  font-size: 25px;
  line-height: 150%;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "firstfont";
}

.testo-progetto-about h2{
  margin-bottom: 5%;
}

.studio{
  margin-bottom: 20%;

}

section.designer h2{
  margin-left: 5%;
  margin-top: 10px;
  font-family: "firstfont";
}






}